[submodule "components/FreeRTOS-Kernel"]
	path = components/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	branch = master
[submodule "components/CMSIS"]
	path = components/CMSIS
	url = https://github.com/ARM-software/CMSIS_5.git
	branch = master
